.ShowcaseContainer {
  padding-left: 5px;
  padding-right: 5px; }
  .ShowcaseContainer .editButton {
    border: solid 0.5px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    height: 40px;
    visibility: hidden;
    width: 40px; }
  .ShowcaseContainer .editButton em {
      background: url(https://s.pinimg.com/webapp/style/images/webapp-common-main-1x-c20ceaff.png) -295px -20px no-repeat;
      height: 18px;
      margin-left: 2px;
      margin-top: 2px;
      width: 18px; }
  .ShowcaseContainer .showcaseCarouselWrapper {
    box-sizing: border-box;
    padding: 11px;
    position: relative;
    width: 790px; }
  .ShowcaseContainer .showcaseCarouselWrapper::before {
      background: rgba(0, 0, 0, .05);
      border-radius: 8px;
      content: " " !important;
      height: 100%;
      left: 0;
      opacity: 0;
      pointer-events: none;
      position: absolute;
      top: 0;
      transform: scale(0.96);
      width: 100%; }
  .ShowcaseContainer .showcaseCarouselWrapper:hover::before {
      animation: tapAnimation 0.25s cubic-bezier(0.31, 1, 0.34, 1) forwards;
      cursor: pointer; }
  .ShowcaseContainer .showcaseCarouselWrapper:hover .showcaseButton {
      visibility: visible; }
  .ShowcaseContainer .backButton {
    left: 23px;
    position: absolute;
    top: 180px; }
  .ShowcaseContainer .backButton em {
      background: url(https://s.pinimg.com/webapp/style/images/webapp-common-main-1x-c20ceaff.png) -258px -154px no-repeat;
      height: 18px;
      margin-right: 3px;
      width: 12px; }
  .ShowcaseContainer .nextButton {
    position: absolute;
    right: 23px;
    top: 180px; }
  .ShowcaseContainer .nextButton em {
      background: url(https://s.pinimg.com/webapp/style/images/webapp-common-main-1x-c20ceaff.png) -276px -244px no-repeat;
      height: 18px;
      margin-left: 3px;
      width: 12px; }
  .ShowcaseContainer .showcaseButton {
    border: solid 0.5px rgba(0, 0, 0, .04);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    cursor: pointer;
    height: 40px;
    visibility: hidden;
    width: 40px; }

.ShowcaseCarousel {
  height: 377px;
  overflow: hidden;
  transform: translateZ(0);
  width: 768px; }
  .ShowcaseCarousel .fadeLeftOut {
    animation: slidefadeOut 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
    pointer-events: none; }
  .ShowcaseCarousel .fadeRightOut {
    animation: slidefadeOutReverse 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards;
    pointer-events: none; }
  .ShowcaseCarousel .mainSectionSlideFromLeft {
    animation: slidefadeInReverse 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards; }
  .ShowcaseCarousel .mainSectionSlideFromRight {
    animation: slidefadeIn 350ms cubic-bezier(0.31, 0, 0.31, 1) forwards; }
  .ShowcaseCarousel .sectionHidden {
    opacity: 0;
    pointer-events: none;
    right: 800px; }
  @keyframes slidefadeOut {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(-64px); } }
  @keyframes slidefadeOutReverse {
  0% {
    opacity: 1;
    transform: translateX(0); }
  100% {
    opacity: 0;
    transform: translateX(64px); } }
  @keyframes slidefadeIn {
  0% {
    opacity: 0;
    transform: translateX(64px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
  @keyframes slidefadeInReverse {
  0% {
    opacity: 0;
    transform: translateX(-64px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.ShowcaseContent {
  height: 377px;
  width: 768px; }
  .ShowcaseContent .articleImage {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    cursor: pointer;
    min-height: 100%;
    width: 100%; }
  .ShowcaseContent .dismissButton {
    border: none;
    padding: 6px;
    position: absolute;
    right: 8px;
    top: 8px; }
  .ShowcaseContent .dismissButton em {
      background: url(https://s.pinimg.com/webapp/style/images/webapp-common-main-1x-c20ceaff.png) -261px -242px no-repeat;
      height: 12px;
      width: 12px; }
  .ShowcaseContent .emptySection {
    border-radius: 8px;
    height: 377px; }
  .ShowcaseContent .imageWash {
    background: rgba(0, 0, 0, .05);
    height: 100%;
    width: 100%;
    z-index: 1; }

.ShopShowcaseSection .imageWash {
  background: rgba(0, 0, 0, .05);
  height: 100%;
  width: 100%;
  z-index: 1; }

.ShopShowcaseSection .shopHoverImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 187px;
  position: absolute;
  transition: .3s;
  width: 226px; }

.ShopShowcaseSection .shopHoverImage.leftCollage {
    left: -226px; }

.ShopShowcaseSection .shopHoverImage.leftCollage.hover {
      left: 0; }

.ShopShowcaseSection .shopHoverImage.righCollage {
    right: -226px; }

.ShopShowcaseSection .shopHoverImage.righCollage.hover {
      right: 0; }

.ShopShowcaseSection .shopCircle {
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  position: absolute;
  top: 50%; }

.ShopShowcaseSection .shopCircleText {
  font-size: 18px;
  font-weight: normal;
  height: 80px;
  opacity: .95;
  width: 80px; }

.ShopShowcaseSection .shopCardImage {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  transition: .3s; }

.ShowcaseInfo .helpCenterLink {
  padding-left: 2px; }

.ShowcaseInfo .subtitleWrapper {
  padding-top: 3px; }

.ShowcaseInfo .subtitleWrapper .value {
    font-weight: bold; }

.ShowcaseInfo.sectionInfoSlideFromLeft .titleWrapper {
  animation: slidefadeInLeft 0.35s cubic-bezier(0.31, 0, 0.31, 1) forwards; }

.ShowcaseInfo.sectionInfoSlideFromRight .titleWrapper {
  animation: slidefadeInRight 0.35s cubic-bezier(0.31, 0, 0.31, 1) forwards; }

@keyframes slidefadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-8px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes slidefadeInRight {
  0% {
    opacity: 0;
    transform: translateX(8px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.ShowcasePips .animatingPipWrapper {
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1; }

.ShowcasePips .pip {
  background-color: #efefef;
  border-radius: 8px;
  height: 4px;
  margin-right: 4px;
  width: 24px; }

.ShowcasePips .pip.animatingPip {
  animation-duration: 4000ms;
  animation-fill-mode: forwards;
  animation-name: animateWidth;
  animation-timing-function: linear;
  background-color: #8e8e8e;
  position: absolute;
  right: 24px;
  top: 0; }

.ShowcasePips .pip.filledPip {
  background-color: #8e8e8e; }

@keyframes animateWidth {
  0% {
    transform: translateX(0); }
  100% {
    transform: translateX(24px); } }

.CheckListIcon {
  background-color: #fff;
  border-radius: 50%;
  padding: 16px; }

.CheckListIcon__completed {
  animation-duration: .6s;
  animation-name: ChecklistPulseAnimation;
  background-color: #4a90e2;
  border-radius: 50%;
  padding: 16px; }

@keyframes ChecklistPulseAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5); }
  50% {
    opacity: 1;
    transform: scale(1.2); }
  100% {
    opacity: 1;
    transform: scale(1); } }

.NuxModalStepBase {
  border-radius: 6px;
  height: 640px;
  max-height: calc(100vh - 40px);
  overflow: hidden;
  width: 800px; }
  .NuxModalStepBase.denseGridModal {
    height: 670px; }
  .NuxModalStepBase .stepInfoContent {
    color: #d3d3d3;
    font-size: 16px;
    font-weight: bold;
    height: 20px;
    line-height: 19px;
    position: absolute;
    right: 16px;
    text-align: right;
    top: 16px; }
  .NuxModalStepBase .stepInfoContent .stepInfo {
      display: inline-block; }

.NuxEducationLoader {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  overflow-y: hidden;
  position: relative;
  width: 800px; }
  .NuxEducationLoader .NuxEducationLoader__loadingCopyContainer {
    animation-delay: 2.68s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: fadeOut;
    color: #555;
    font-size: 32px;
    line-height: 36px; }
  .NuxEducationLoader .NuxEducationLoader__pinEducationCopyContainer {
    animation-delay: 3.18s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-name: fadeIn;
    color: #555;
    font-size: 32px;
    left: 0;
    line-height: 36px;
    opacity: 0;
    position: absolute;
    top: 0; }
  @keyframes scrollGrid {
  from {
    transform: translateY(20%); }
  to {
    transform: translateY(-20%); } }
  .NuxEducationLoader .NuxEducationLoaderGrid {
    animation-delay: 0s, 2.68s;
    animation-duration: 8s, 0.5s;
    animation-fill-mode: forwards;
    animation-name: scrollGrid, fadeOut;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 100%; }
  .NuxEducationLoader .NuxEducationLoaderGrid .NuxEducationLoaderGrid__column0 {
      margin: 30px 8px 0; }
  .NuxEducationLoader .NuxEducationLoaderGrid .NuxEducationLoaderGrid__column1 {
      margin: 0 8px; }
  .NuxEducationLoader .NuxEducationLoaderGrid .NuxEducationLoaderGrid__column2 {
      margin: 15px 8px 0; }
  @keyframes pinImageScaleAndTranslate {
  0% {
    opacity: 1;
    transform: scale(0.5, 0.5) translateY(448px); }
  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0); } }
  .NuxEducationLoader .NuxEducationLoaderPin {
    bottom: 28px;
    height: 310px;
    margin: auto 0;
    position: absolute;
    right: 77px;
    top: 0;
    width: 210px; }
  .NuxEducationLoader .NuxEducationLoaderPin .NuxEducationLoaderPin__pinImage {
      animation-delay: 2.64s;
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
      animation-name: pinImageScaleAndTranslate;
      opacity: 0; }
  .NuxEducationLoader .NuxEducationLoaderPin .NuxEducationLoaderPin__pinSaveButton {
      animation-delay: 3.34s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-name: fadeIn;
      opacity: 0; }
  .NuxEducationLoader .NuxEducationLoaderPin .NuxEducationLoaderPin__pinLinkButton {
      animation-delay: 3.14s;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-name: fadeIn;
      opacity: 0; }

.NuxGenderSelector:hover {
  background-color: #efefef; }

.NuxGenderSelector:hover input {
  background-color: #efefef; }

.NuxGenderStep {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%; }

.NuxGenderStep .NuxGenderStep__genderOption,
  .NuxGenderStep .NuxGenderStep__genderOptionLast,
  .NuxGenderStep .NuxGenderStep__genderOptionNoHover,
  .NuxGenderStep .NuxGenderStep__genderOptionSelected {
    border-top: 1px solid #efefef;
    cursor: pointer;
    display: -ms-flexbox;
    display: flex;
    font-size: 36px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: bold;
    height: 40px;
    padding: 24px 32px;
    position: relative;
    vertical-align: middle; }

.NuxGenderStep .NuxGenderStep__genderOptionLast {
    border-bottom: 1px solid #efefef;
    height: auto; }

.NuxGenderStep .NuxGenderStep__genderOption:hover,
  .NuxGenderStep .NuxGenderStep__genderOptionSelected,
  .NuxGenderStep .NuxGenderStep__genderOptionLast:hover {
    background-color: #efefef; }

.NuxGenderStep .NuxGenderStep__genderOptionText,
  .NuxGenderStep .NuxGenderStep__genderOptionTextNoHover {
    color: #333;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-positive: 1;
        flex-grow: 1;
    padding-left: 40px; }

.NuxGenderStep .NuxGenderStep__genderOptionText {
    top: 20px; }

.NuxGenderStep .NuxGenderStep__genderOptionTextNoHover {
    top: 23px; }

.NuxGenderStep .NuxGenderStep__headerContent {
    -ms-flex-align: center;
        align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 60px 32px;
    text-align: center;
    width: 480px; }

.NuxGenderStep .NuxGenderStep__nameHeaderContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin: 115px 32px 0;
    text-align: center;
    width: 480px; }

.NuxGenderStep .NuxGenderStep__nameHeaderContent.TableOfContents {
      margin-top: 16px; }

.NuxGenderStep .NuxGenderStep__genderSelector input[type=text] {
    background: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
    margin-right: 20px; }

.NuxGenderStep input[type=text].slimInput {
    -ms-flex-positive: 1;
        flex-grow: 1; }

.NuxGenderStep .NuxGenderStep__radioButtonWrapper {
    padding-top: 10px;
    position: absolute; }

.NuxGenderStep .NuxGenderStep__genderOptionContent {
    margin: 0 auto;
    max-width: 1276px;
    position: relative; }

@media (max-width: 1299px) {
      .NuxGenderStep .NuxGenderStep__genderOptionContent {
        max-width: 1016px; } }

@media (max-width: 1039px) {
      .NuxGenderStep .NuxGenderStep__genderOptionContent {
        max-width: 756px; } }

.NuxGenderStep .NuxGenderStep__nextButton {
    margin: 80px 32px 0; }

.NuxGenderStep .NuxGenderStep__nameInputWrapper {
    margin: 0 4px; }

.NuxGenderStep .NuxGenderStep__slimHeaderContent {
    margin: 32px 32px 16px;
    width: 480px; }

